# Analyzing binaries
capstone # Disassembly

# Organizing and exporting results
pandas # Manipulating tables
tabulate # Logging tables to console

# Visualizing stats
sklearn # Machine Learning
pyldavis # Latent Dirichlet Allocation

# Collecting remote packages
conan
